body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background: transparent;
}
#content {
    width: 80%;
    margin: auto;
    position: relative;
    float: left;
}
.jumbotron .light {
    width: inherit;
    background-color: #fff;
}