{% load staticfiles %}


{% include "menu.html" %}

<div class="jumbotron">
  <div class="container">
  	{{ info }}
    <h3>Articles: </h3>
	{% if user.is_authenticated %}
		<form action="{% url 'ArticleAdd' %}" method="GET">
			<input type="submit" value="Add" class="btn btn-default"/>
		</form>
	{% endif %}
    {% for Article in Articles %}
    <h2>{{ Article }} 
      <div style="overflow: hidden; float: right">
        <form action="{% url 'ArticleDel' %}" method="GET">
          <input type="hidden" name="id" value="{{ Article.id }}" />
          <input type="submit" value="Delete" class="btn btn-default" />
        </form>
        <form action="{% url 'ArticleEdit'  %}" method="GET">
          <input type="hidden" name="id" value="{{ Article.id }}" />
          <input type="submit" value="Edit" class="btn btn-default"  />
        </form>
      </div>
    </h2>
    <hr/>
    {% endfor %}
  </div>
</div>
