{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% include "menu.html" %}

<div id="content">
  <h1>Articles: </h1>
  <form action="{% url 'ArticleAdd' %}" method="GET">
    <input type="submit" value="Add" />
  </form>
  {% for Article in Articles %}
  {% if Article.Availability %}
  <h2>{{ Article }} 
    <div style="overflow: hidden; float: right">
      <form action="{% url 'ArticleDel' %}" method="GET">
        <input type="hidden" name="id" value="{{ Article.id }}" />
        <input type="submit" value="Delete" />
      </form>
      <form action="{% url 'ArticleEdit'  %}" method="GET">
        <input type="hidden" name="id" value="{{ Article.id }}" />
        <input type="submit" value="Edit" />
      </form>
    </div>
  </h2>
  <hr/>
  {% endif %}
  {% endfor %}
</div>
