{% load staticfiles %}

<script src="{% static 'js/addArticleToInvoice.js' %}" language="Javascript" type="text/javascript"></script>

<div id="example" style="display:none;">
  {{ ArticleGathererFormExample.as_p }}
  <input type="button" value="Delete this article" class="btn btn-default" onClick="delArticleFromInvoice('article___NUMBER__-div', '{{ InvoiceForm.prefix  }}');">
</div>

{% include "menu.html" %}

<div class="jumbotron">
  <div class="container">
    <h3>Add Invoice: </h3>
    {% if InvoiceForm.errors %}
    <p style="color: red;">There were errors: </p>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}
      {{ InvoiceForm.as_p }}
      <input type="button" value="Add another article" class="btn btn-default" onClick="addArticleToInvoice('articleDiv', '{{ InvoiceForm.prefix  }}');">
      <div id="articleDiv">
        {% for ArticleGathererForm in ArticleGathererForms %}
        <div id="{{ ArticleGathererForm.prefix }}-div">
          {{ ArticleGathererForm.as_p }}
          <input type="button" value="Delete this article" class="btn btn-default" onClick="delArticleFromInvoice('{{ ArticleGathererForm.prefix  }}-div', '{{ InvoiceForm.prefix  }}');">
        </div>
        {% endfor %}
      </div>
      <input type="submit" value="Add" class="btn btn-default" />
    </form>
  </div>
</div>
