{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />

<div id="menu">
  {% if user.is_authenticated %}
  <p>User: <b>{{ user }}</b></p>
	<p><li><a href="/register/wyloguj">Logout</a></li></p>
  {% else %}
  <p>User: Guest</p>
  	<p><li><a href="/register/zaloguj">Login</a></li></p>
    <li><a href="/register">Register</a></li>
  {% endif %}
  <hr />
  <ul>
  	<hr />
    <li><a href="/">Main</a></li>
		<hr />
    <li><a href="/article">Articles</a></li>
    <hr />
    <li><a href="/invoice">Invoices</a></li>
  </ul>
</div>
